﻿@* ClassNamespace = Jig.Web.Controls  *@
@* ClassName = ViewPage03  *@
@* ClassMethod = RenderTabletView *@
@inherits Jig.Web.CodeGeneration.Views.CodeGeneratorView<System.Collections.Generic.List<string>>
<ul>
    @foreach (var value in Model)
    {
        <li>@value</li>
    }
</ul>
