﻿@* ClassNamespace = Jig.Web.Controls  *@
@* ClassName = ViewPage01  *@

@inherits Jig.Web.CodeGeneration.Views.CodeGeneratorView<MvcApplication.ISideVideoGroup>

@{
    const string CssClass = "main";
}
<div class="callout video">
    <div class="top"></div>
    <div class="mid">
        <h1 class="@CssClass">@Model.SideVideoGroupTitle</h1>
        <ul id="video-list" class="video-list">
            @foreach (var sideVideoGroupItem in Model.SideVideoGroupList)
            {
                <li>
                    <div class="video-container">
                        <a class="trigger video-1" href="#">
                            <img width="221" height="132" alt="Youtube" />
                            <span class="title">@sideVideoGroupItem.SideVideoGroupItemTitle</span>
                        </a>
                        <div class="data">
                            @sideVideoGroupItem.SideVideoGroupItemYoutube
                        </div>
                        <div class="divider"></div>
                    </div>
                </li>
            }
        </ul>
        @if (Model.SideVideoGroupList.Count > 1)
        {
            <div class="container">
                <a class="left prev" href="#">&lt;&lt; Previous</a>
                <a class="right next" href="#">Next&gt;&gt;</a>
            </div>
        }
    </div>
    <div class="bottom"></div>
    <div id="video-modal">
        <div id="videoContainer"></div>
        @if (Model.SideVideoGroupList.Count > 1)
        {
            <a class="prev" title="Previous" href="#">&lt;&lt;</a>
            <a class="next" title="Next" href="#">&gt;&gt;</a>
        }
        <a class="modal-close" href="#">X</a>
    </div>
</div>
