﻿@* ClassNamespace = WebApplication.Views  *@
@* ClassName = AddressDeviceAdaptiveRenderingView  *@
@* ClassMethod = RenderDesktopView  *@
@* IsClassMethodOverride = false *@
@model WebApplication.Models.AddressModel
<hr />
<h2>This is Desktop Browser Rendering</h2>
<ul>
    <li>@Model.AddressLine1</li>
    <li>@Model.AddressLine2</li>
    <li>@Model.City</li>
    <li>@Model.State</li>
    <li>@Model.ZiCode</li>
</ul>
