﻿@* ClassNamespace = WebApplication.Views *@
@* ClassName = AddressDeviceAdaptiveRenderingView *@
@* ClassMethod = RenderTabletView *@
@* IsClassMethodOverride = false *@
@model WebApplication.Models.AddressModel

<h2>This is Tablet Rendering</h2>
<ul>
    <li>@Model.AddressLine1</li>
    <li>@Model.AddressLine2</li>
    <li>@Model.City</li>
    <li>@Model.State</li>
    <li>@Model.ZiCode</li>
</ul>
<hr />