﻿@* ClassNamespace = WebApplication.Views  *@
@* ClassName = AddressView  *@
@model WebApplication.Models.AddressModel
<hr />
<h1>@Model.Description</h1>
<ul>
    <li>@Model.AddressLine1</li>
    <li>@Model.AddressLine2</li>
    <li>@Model.City</li>
    <li>@Model.State</li>
    <li>@Model.ZiCode</li>
</ul>
<hr />
<br/>
